h1{
    text-align: center;
}
input[type=Area]{
    width: 30px;

}
h3{
    text-align:;
}
input[type=number]{
    
}
input{
    border-radius: 10px 10%;
}
#posi{
    width: 700px;
    height: 600px;
    background-image: url("./what_is_image_Processing.jpg");
    position: 15px;
    background-repeat:no-repeat;
    background-size: 1100px;
    border: solid;
}
button{
    border-radius: 10px;
}