h1{
    text-align: center;
}

h3{
    text-align:;
}

input{
    border-radius: 10px;
}
#posi{
    width: 599px;
    height: 499px;
    background-image: url("./image.jpg");
    position: 15px;
    background-repeat:no-repeat;
    background-size: 1000px;
    border: solid;
}
/*button{
    border-radius: 10px;
}*/
textarea{
    border-radius: 10px;

}
#main{
    border-left: 10ch;
} 