input{
    border-radius: 10px;
    background-color: rgb(65, 11, 51);
}
table{
    border-radius: 10px;
    border: 10pc;
    background-color: rgb(107, 165, 41);
    text-align: center;
    
}
textarea{
    background-color: rgba(67, 109, 117, 0.748);
}
form{
    align-self: center;
}